*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    border: 3px solid black;
}
   .navbar{
    width: 100vw;
    /* background-color: rgba(113, 113, 194, 0.579); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 80px ;
    display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow-x: none;
}
nav{
    width: 100%;
}
.navlist{
     width: 100%;
    padding: 15px;
    /* margin-left: 10px;
    margin-right: 10px; */
    list-style: none;
     font-size: 2.8rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#navlogo{
    font-size: 2.8rem;
   color: azure;
}
a{
    text-decoration: none; 
    color: azure;
}
#navitems{
display: flex;
gap: 40px;
}