@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root{
    --primary-color:#6366F1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;

}
.heardercontainer{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
    display: 0.625rem;
}
.logotext{
    font-size: 1.5rem;
    font-weight: bold;
}
.navcontainer{
    display: none;
    gap: 1.3rem;
}
@media screen and (min-width:768px){
    .navcontainer{
        display: flex;
    }
}
.navlink{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1;
}
.navlink:hover{
    color: var(--link-color);
}
.contactbutoon{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
@media screen and (min-width:768px){
    .contactbutoon{
        display: block;
    }
}
.contactbutoon:hover{
    background-color: #5254f8;
}
.menu{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
}
@media screen and (max-width:768px){
    .menu{
        display: block;
    }
}

.mainsection{
    max-width:1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    margin: 0 auto;
    gap: 2rem;
}
.contantleft{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.para{
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.heading{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.paradiscription{
    color: var(--gray);
    font-size: 1.25rem;
}
.buttongroup{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.startbutton,.tourbutton{

     border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.tourbutton{
    background-color: #333333;
}
.startbutton:hover{
    background-color: #5254f8;
}
.tourbutton:hover{
    background-color: #555;
}
.contantright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightimg{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
    border-radius: 20px;
}
@media screen and (min-width:760px){
    .mainsection{
        flex-direction: row;
    }
        
    }
    .contantright{
        max-width: 50%;
    }
    .contantleft{
        padding-left: 0;
    }
    .para{
        padding-left: 0%;
    }
    .heading{
        padding-left: 0%;
    }
    .company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
       animation: slidefromleft 1s ease forwards;
    }
    
    .companygrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        padding: 1rem;
        background-color: var(--light-gray);
        border: none;
        border-radius: 1.625rem;
        margin-top: 1.5rem;
    }

    @media screen and (min-width:640px){
        .companygrid{
            grid-template-columns: repeat(4,1fr);
        }
    }
    .companylogo{
        font-size: 1rem;
        font-weight: 500;
        color: var(--gray);
        display: flex;
        gap: 0.5rem;
    }
    .svgimg{
        height: 40px;
    }
    .logotext{
        font-size: 1rem;

    }
